<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Ross Gibson</title>
</head>

<body>
    <header>
        <h1>Ross Gibson</h1>
    </header>

    <main>
        <section>
            <div class="projects">
                <!-- <img src="{{ url_for('static', filename='plus-circle.svg') }}"><br> -->
                <a href="https://github.com/A4R7bluep/Discord-Bots/blob/main/rpsbot.py/">Rockbert</a><br>
                <br>
                <p>
                    Rockbert is a discord bot I programmed that you can play Rock Paper Scissors with.
                    It also allows you to play with another person. I wrote it in Python. Currently it generates what it's going to play randomly,
                    but I might, in the future, make an AI that chooses what the bot chooses.
                </p>
            </div>

            <div class="projects">
                <!-- <img src="{{ url_for('static', filename='plus-circle.svg') }}"><br> -->
                <a href="www.github.com/A4R7bluep/SudokuGameDOTNET">Sudoku Game</a><br>
                <br>
                <p>
                    My Sudoku Game is an unfinished project. It is written in ASP.NET. I used Object Oriented Programming, 
                    but I don't like how I organized the board. This was my first time using ASP.NET and my first time using Microsoft's .NET Framework.
                </p>
            </div>

            <div class="projects">
                <!-- <img src="{{ url_for('static', filename='plus-circle.svg') }}"><br> -->
                <a href="https://github.com/A4R7bluep/MyBrowser">Gibs Browser</a><br>
                <br>
                <p>
                    Gibs Browser was my first time using WinForms, part of .NET Framework. It was also my second time using Microsoft's .NET Framework.
                    I wanted to make a browser that was simple to use, had most of the functionality of a normal browser, and I could customize the basic GUI.
                    I liked certain parts of Opera GX, like the sidebar, so I tried to implement that into my browser. I got it to minimally work, but in a not super smooth way.
                </p>
            </div>
        </section>

        <article>
            <h1>About Me</h1><br>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; My name is Ross Gibson. I am currently a Junior at Assabet Valley Regional Technical High School. 
                I am in the Computer Programming and Web Development shop, which is every other week, with academic weeks in between.
                I enjoy programming. I know HTML, CSS, JavaScript, and Python. I am currently trying to get better at C# and
                using Microsoft's .NET Framework. I have used WinForms and ASP.NET.
            </p>
        </article>
    </main>
    <footer>
        <p>
            <a href="www.github.com/A4R7bluep">Github</a>|<a href="mailto:rossgibson256@gmail.com">Email</a>
        </p><br>
        <p>Made with ❤ by Ross Gibson</p>
    </footer>
</body>

</html>